.esfera-container {
  position: relative;
  width: fit-content;
}

.tanque-esfera {
  /* Estilos para el tanque */
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
  margin: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  background: radial-gradient(#808000, #5b5b5b);
  z-index: 1;
}

.onda {
  width: 150%;
  height: 150%;
  position: absolute;
  bottom: 0;
  left: 0;
  fill: rgba(10, 59, 235, 0.339);
  animation: moverOnda 4s linear infinite alternate; /* Animación para el movimiento */
  z-index: -1;
}

@keyframes moverOnda {
  0% {
    transform: translateX(-150px); /* Posición inicial */
  }
  100% {
    transform: translateX(-20px); /* Posición final */
  }
}

.metrics {
  /* Posición y estilo del contenedor de las métricas */
  display: flex;
  height: 100%;
  width: 100%;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.metrics li::before {
  content: '- ';
}

.ancla {
  position: absolute;
  bottom: -80px;
  height: 280px;
  width: 25px;
  border-radius: 3px;
  background: linear-gradient(90deg, #5b5b5b, #808000, #5b5b5b);
  z-index: 0;
}

.ancla.right {
  right: 0;
}

.ancla.small {
  height: 140px;
  left: 120px;
}

.ancla.small.right {
  left: initial;
  right: 120px;
}

.base {
  position: absolute;
  bottom: -80px;
  height: 20px;
  width: 100%;
  background-color: #2f2f2f;
}
